[package]
name = "anvyx"
description.workspace = true
version.workspace = true
edition.workspace = true

[dependencies]
clap = { version = "4.5.53", features = ["derive"] }
anvyx-lang = { path = "../lang" }
